/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Inter','Segoe UI', sans-serif;
}

/* Header styles */

header {
    background-image: url("./images/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;   
}

/* Nav-Sec Styles*/

.navbar-logo,
.sign-up-btn,
.banner-btn,
.action-btn {
    font-size: 25px;
    font-weight: bold;
    color: #4E47FF;
} 

.navbar-logo{
    font-size: 35px;
    margin-top: 20px;
}

.sign-up-btn,
.banner-btn,
.action-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 12px;
    background-color: #4E47FF;
    color: white;
    border: none;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

/* Banner styles */

.banner-heading{
    font-size: 45px;
}

.banner {
    display: flex;               
    justify-content: center;         
    text-align: center;
    margin-top: 130px;          
}

.banner-btn {
    margin-top: 60px;
}

/* Action Section Styles */

.action-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.action-title{
    font-size: 60px;
}

.action-para{
    font-size: 17px;
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.6);;
}

.action-btn{
    margin-top: 25px;
}