/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Inter','Segoe UI', sans-serif;
}

/* Header styles */

header {
    background-image: url("./images/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;   
}

/* Nav-Sec Styles*/

.navbar-logo,
.sign-up-btn,
.banner-btn,
.action-btn {
    font-size: 25px;
    font-weight: bold;
    color: #4E47FF;
} 

.navbar-logo{
    font-size: 35px;
    margin-top: 20px;
}

.sign-up-btn,
.banner-btn,
.action-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 12px;
    background-color: #4E47FF;
    color: white;
    border: none;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

/* Banner styles */

.banner-heading{
    font-size: 45px;
}

.banner {
    display: flex;               
    justify-content: center;         
    text-align: center;
    margin-top: 130px;          
}

.banner-btn {
    margin-top: 60px;
}

/* Action Section Styles */

.action-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.action-title{
    font-size: 60px;
}

.action-para{
    font-size: 17px;
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.6);;
}

.action-btn{
    margin-top: 25px;
}

/* Productive user section styles */

.productive-user{
    background-color: #9391de;;
    margin-top: 80px;
    margin-left: 183px;
    border-radius: 20px;
    width: 80%;        
}

section h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.productive-div,
.description-div {
    display: flex;
    justify-content: space-around;
}

.user-para{
    color:#4642bed1;
    font-family: 'Inter','Segoe UI', sans-serif;
    font-size: 80px;
    padding-top: 20px;
}

.Focused {
    padding-left: 15px;
}

.Active {
    padding-left: 20px;
}

.description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);;
    padding-bottom: 50px;
}